.box-body {
    padding: 20px;
}

.box-header {
    font-weight: bold;
}

.important-text {
    font-size: 2rem;
    font-weight: bold;
}

li>.form-group {
    margin-bottom: 8px !important;
}

li .form-control {
    font-size: 16px;
    font-weight: bold;
}

.box-body {
  overflow: hidden;
}

#news_diff_box_body  {
  overflow: scroll !important;
  height: 300px;
}

@media (max-width: 768px) {
    .search-input {
        width: 200px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 8px;
    }
}

@media (min-width: 768px) {
    .search-input {
        width: 375px;
        margin-top: 8px;
    }
}
